/*!BODY*/
body {
    background-color:#E5BA40;
}

/*******************************************************************************/
/*!BODY ELEMENTS */

/**HEADER*/
header {
    background-color:#C67C29 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.title{
    display: inline   
}


.logo{
    height: 50px; 
    width: 50px; 
    float: left; 
    margin-right: 10px;
}
/**HEADER*/




/** NAVIGATION BAR*/
.active{
    ul{
        margin: 0%;
        padding: 0%;
        overflow: hidden;
    }
    li {
        border: 2px solid #E5BA40;
        background-color: #704A1F;
        list-style-type: none;
        float: left;
        width: 14.28%;
        padding: 16px;
        border-radius: 10px;
    }
    li:hover {
        background-color: #000000;
    }
    /***link elements*/
    a{
        font-size:large;
        font-family: serif;
        text-align: center;
        color:white;
        text-decoration:none;
    }
    a:hover {
        color: #C67C29;
    }
    a:active {
        color: #F5ECA3;
    }  
}
/** NAVIGATION BAR*/



/**MAIN*/
main {
    background-color: #C67C29;
    border-radius: 10px;
}

/** CONSTRAINING THE IMAGES FROM CAROUSEL MAIN PAGE*/
.imgConstrain {
    height: auto; 
    width: 70%;    
}

/** HOUSES PAGE*/

/** CONSTRAINING THE IMAGES FROM HOUSES PAGE*/
.imgLogo {
    width: 400px;
    height:400px;
    float: left; 
}

/** CUSTOM THE BUTTON FOR SPOTIFY LINK*/
.button{
    ul{
        margin-right: 5%;
        padding: 0%;
        overflow: hidden;
    }
    li {
        background-color: #704A1F;
        list-style-type: none;
        float: right;
        width: 480px;
        height: 35px;
        padding: 0px;
        border-radius: 10px;
        text-align: center;
        margin-top: 5px;
        margin-right: 10px;
    }
    li:hover {
        background-color: #E5BA40;
    }
    /***link elements*/
    a{
        font-size:medium;
        font-family: serif;
        text-align: center;
        color:white;
        text-decoration:none;
    }
    a:hover {
        color: black;
    }
    a:active {
        color: #F5ECA3;
    }  
}


/**MAIN*/



/** ASIDE*/
aside {
    background-color: #C67C29;
    border-radius: 10px;
}
/** ASIDE*/



/** FOOTER*/
footer {
    background-color: #704A1F;
    border-radius: 10px;
}
/** FOOTER*/
/*******************************************************************************/



/********************************************************/
/*!TABLE SECTION*/

table {
    font-family: serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}


td, th {
    border: 1px solid #000000;
}


tr:nth-child(even) {
    background-color: #d1a03a;
}


tr:hover {
    background-color: #a76b26;
}


th {
    background-color: #C67C29;
    color: #F5ECA3;
}
/********************************************************/

/*!OTHER*/

/** PADDING AND TEXT FIXING*/
.bootstrapFix {

    /** Padding*/
    header,main,aside,footer {
        padding: 10px;
    }
       
    /** Text*/
    h1,h2,h3,h4,h5,h6,p {
        font-family: serif;
        color: #000000;
    }

    h1 {
        font-size: xxx-large;
    }

    h3 {
        font-size: xx-large;
    }

    p {
        font-size: large;
    }
  }  



/** IMAGE GALLERY GRID*/
.gallery-img {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
}


